@import "tailwindcss";

@layer utilities {
  .animate-fadeIn {
    animation: fadeIn 1.2s ease-in-out;
  }
  .animate-slideInLeft {
    animation: slideLeft 1s ease;
  }
  .animate-slideInRight {
    animation: slideRight 1s ease;
  }

  @keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }

  @keyframes slideLeft {
    from { opacity: 0; transform: translateX(-40px); }
    to { opacity: 1; transform: translateX(0); }
  }

  @keyframes slideRight {
    from { opacity: 0; transform: translateX(40px); }
    to { opacity: 1; transform: translateX(0); }
  }
}
@layer utilities {
  .animate-gradient {
    background-size: 300% 300%;
    animation: gradientMove 12s ease infinite;
  }

  .animate-float {
    animation: float 7s ease-in-out infinite;
  }

  .animate-floatSlow {
    animation: float 12s ease-in-out infinite;
  }

  .animate-fadeScale {
    animation: fadeScale 1.5s ease forwards;
  }

  @keyframes gradientMove {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
  }

  @keyframes float {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-20px); }
  }

  @keyframes fadeScale {
    from {
      opacity: 0;
      transform: scale(0.96);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }
}
